requests==2.22.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#en_core_web_sm
geopy==1.21.0
spacy==2.2.4
beautifulsoup4==4.9.0
firebase_admin==4.1.0